{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        Votre requête n'a pu aboutir. Veuillez la vérifier ou bien <a href="{{ path('homepage') }}">retourner sur la page d'accueil</a>.
    </p>
{% endblock %}